<!doctype html>
<html lang="en-US">
	<head>	
		<meta charset="utf-8"/>
		<title>A*</title>
		<link rel="stylesheet" type="text/css" href="./base.css"/>
		<link rel="stylesheet" type="text/css" href="./grid.css"/>
	</head>
	<body>
		<!-- Page Content -->
		<div class="left_container">
			<!-- Left Side -->
			<div class="grid_container">
				<canvas width="400", height="400"></canvas>
				<div id="grid" class="grid"></div>
			</div>
	
			<!-- Right Side -->
			<div class="right_container">
				<!-- https://www.w3schools.com/w3css/w3css_tabulators.asp -->
				<ul>
					<li><button class="tab-button" onclick="selectTab('tab-pseudo')">Pseudo Code</button></li>
					<li><button class="tab-button" onclick="selectTab('tab-explan')">A* Erklärung</button></li>
					<li><button class="tab-button selected" onclick="selectTab('tab-edit')">Edit</button></li>
					<li><button class="tab-button" onclick="selectTab('tab-help')">Hilfe</button></li>
				</ul>
				<div class="tab" id="tab-pseudo" style="display:none"> [PSEUDOCODE] </div>
				<div class="tab" id="tab-explan" style="display:none">A* funktioniert so...</div>
				<div class="tab" id="tab-help" style="display:none">How to use...</div>
				<div class="tab" id="tab-edit">
					<h2> EDITING MODE</h2>
					<div id="edit_ui">
						<input type="radio" id="w1" name="choice_elements" onclick="radioButtonChoice(this)"/>
						<label for="w1">Weight1</label> <br>
						<input type="radio" id="w2" name="choice_elements" onclick="radioButtonChoice(this)"/>
						<label for="w2">Weight2</label> <br>
						<input type="radio" id="w3" name="choice_elements" onclick="radioButtonChoice(this)"/>
						<label for="w3">Weight3</label> <br>
						<input type="radio" id="w4" name="choice_elements" onclick="radioButtonChoice(this)"/>
						<label for="w4">Weight4</label> <br>
						<input type="radio" id="wall" name="choice_elements" onclick="radioButtonChoice(this)"/>
						<label for="wall">Wall</label> <br>
						<input type="radio" id="start" name="choice_elements" onclick="radioButtonChoice(this)"/>
						<label for="start">START</label> <br>
						<input type="radio" id="end" name="choice_elements" onclick="radioButtonChoice(this)"/>
						<label for="end">END</label> <br>
					</div>
					<br>
					<button id="toggle_editingmode" onclick="toggleEditingMode()">I'm done!</button>
				</div>
			
				<button onclick="submitGraph()">NEXT STEP</button> 
			</div>
		</div>
	</body>
</html>

<script src="../scripts/app.js"></script>
<script src="../scripts/index.js"></script>