<!doctype html>
<html lang="en-US">
	<head>	
		<meta charset="utf-8"/>
		<title>A*</title>
		<link rel="stylesheet" type="text/css" href="../styles.css"/>
	</head>
	<body>
		<!-- Page Content -->
		<div class="main_container">
			<!-- Left Side -->
			<div class="grid_container">
				<canvas width="400", height="400"></canvas>
				<div id="grid" class="grid"></div>
			</div>
	
			<!-- Right Side -->
			<div class="pseudo_container">
				<button id="toggle_editingmode" onclick="toggleEditingMode()">DONE</button>
				<div id="weight_choice">
					<input type="radio" id="w1" name="weight_choice_elements" onclick="weightChoice(this)" checked/>
					<label for="w1">Weight1</label> <br>
					<input type="radio" id="w2" name="weight_choice_elements" onclick="weightChoice(this)"/>
					<label for="w2">Weight2</label> <br>
					<input type="radio" id="w3" name="weight_choice_elements" onclick="weightChoice(this)"/>
					<label for="w3">Weight3</label> <br>
					<input type="radio" id="w4" name="weight_choice_elements" onclick="weightChoice(this)"/>
					<label for="w4">Weight4</label> <br>
					<input type="radio" id="w5" name="weight_choice_elements" onclick="weightChoice(this)"/>
					<label for="w5">Wand</label> <br>
				</div>
				<br>
				<button>NEXT</button>
				<br><br>
				- pseudocode etc -
			</div>
		</div>
	</body>
</html>

<script src="../scripts/mainscript.js"></script>